/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 nov 2023, 00:53:31
    Author     : dieag
*/

* {
    box-sizing: border-box;
}

body {
    font: 1em/150% "Calibri", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 1vh;
    background-color: #283447;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

header .h21 {
    color: #ffffff;
    font: normal bold 2vw/1 "Open Sans", sans-serif;
    margin-top: 1vh; /* Asegúrate de cerrar el estilo correctamente */
    margin-right: 69vw;
}
.nav-container {
    width: 100%;
    padding: 13px 24px;
    background: rgb(255, 255, 255);
    box-shadow: 0px -3px 0px #1589EE inset;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.h21 {
    color: #ffffff;
    font: normal bold 2vw/1 "Open Sans", sans-serif;
}

.fontdiv {
    color: #000000;
    font: normal bold 15px/1;
    font-family: 'Open Sans', sans-serif;
}
header .imglogo {
    width: 2vw;
    height: 5vh;
    align-content: center;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
}

nav {
    display: flex;
    flex-direction: row;
    /*background-color: #0067c4;*/
    height: 8vh;
}

.BotonCe {
    background: #004081;
    border: 1px solid #004081;
    border-radius: 13px;
    color: #ffffff;
    font: normal bold 1.2vw/1 "Open Sans", sans-serif;
    text-align: center;
    margin-top: 2vh;
    margin-right: 1vw;
    float: left;
    height: 8vh;
    width: 10vw;
}
.imglogo {
    width: 2vw;
    height: 5vh;
    align-content: center;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
}

#alinearder {
    text-align: right;
    vertical-align: 50%;
}

.nav-container .btn-primary {
    border-radius: 10px; /* Hace el botón circular */
    width:8vw; /* Ajusta el ancho del botón según tu preferencia */
    height: 6vh; /* Ajusta la altura del botón según tu preferencia */
    font-size: 1.2vw; /* Ajusta el tamaño del texto */
    margin-left: 68.5vw; /* Ajusta el margen izquierdo según tu preferencia */
}

.nav-container .btn-primary span {
    white-space: nowrap;
}
.bodyg, .bodyg1, .bodyg2, .bodyg3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin-top: 10vh;
    margin-bottom: 15vh;
    font: 1em/150% "Calibri", sans-serif;
}



.a {
   margin-top: 30vh;
    border: 2px solid #000000;
    border-radius: 11px;
    width: 37vw;
    height: 62vh;
    margin-right: 5vw;
    margin-left: 5vw;
    /*background: #e1ff00;*/

}

.grafica-container{
    height: 53vh;
    border-radius: 11px;
    margin-left: .4vw;
    /*background: #8d2121;*/
    margin-top: -1.5vh;
}

.grafica{
    margin-top: -1vh;
    width: 100%;
    height: 100%;
}

.titulo {
   background-color: #004081;
    text-align: center;
    font: normal bold 1.5vw/1 "Open Sans", sans-serif;
    color: #FFFFFF;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    height: 7vh;
}

#grafica-labels {
    list-style: none;
    padding: 0;
}

#grafica-labels li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

#grafica-labels .label {
    margin-right: 10px;
}



h1 {
color: black;
font-size: 28px;
font-family: 'Open Sans' sans-serif;
font-weight: 600;
line-height: 27px;
word-wrap: break-word

}



h2 {
color: #000000;
font: normal bold 18px/1 "Open Sans", sans-serif;
text-align: justify;
}
h3 {
color: #FFFFFF;
font: normal bold 16px/1 "Open Sans", sans-serif;
text-align: center;
}
h4 {
color: #000000;
font: normal 16px/1 "Open Sans", sans-serif;
padding: 8px;
}

#borde {
color: #FEFEFE;
font-size: 1.3vw;
text-align: center;
background-color: #004081;
border-radius: 10px;
width: 92%;
padding: 5vh 4vw;
height: 12vh;
}


hr {
height: 3px;
background-color: #347499;
}
/*
.Botona, .Botonab{
text-align: center; 
color: #FEFEFE; 
font-size: 22px; 
font-family: 'Open Sans' sans-serif;
font-weight: 400; 
word-wrap: break-word;
padding: 10px 30px; 
background: #347499; 
border-radius: 11px; 
justify-content: center;
align-items: center; 
gap: 8px; 
display: inline-flex;
}*/

.Botona {
    margin-top: 2vh;
}
.Botonab{
margin-left: 4vw;
}

.Botonab{
    text-align: center; 
    color: #FEFEFE; 
    font-size: 1.2vw; 
    font-family: 'Open Sans' sans-serif;
    background: #004081; 
    border-radius: 30px; 
    justify-content: center;
    align-items: center; 
    margin-top: 3vh;
    display: inline-flex;
    width: 5vw;
    height: 6vh;
    }

.reporte{
/*background-color: #ff0000;*/
height: 9vh;
margin-left: 19vw;
margin-top: 40vh;
width: 60vw;
}

.labeln {
    width: 100%; 
    height: 100%;
    padding-bottom: 5px;
    padding-left: 24px;
    padding-right: 808px; 
    background: white; 
    box-shadow: 0px -3px 0px #1589EE inset; 
    justify-content: flex-start; 
    align-items: center; 
    display: inline-flex;
    gap: 24px;
}

.alincentro{
text-align: center;
padding-left: 10%;
height: 12vh;
width: 95vw;
margin-left:1vw;
margin-top: 2vh;

}

a{
    text-decoration: none;
    color: inherit;
}
h2{
    font-size: 2.5vw;
}

.layougr {
    width: 10vw;
    height: 55vh;
    background-color: #000000;
    margin-left: 26.8vw;
    text-align: justify;
    margin-top: -53vh;
    border-bottom-right-radius: 11px;
    color: #FFFFFF;
    display: grid; /* Utiliza display: grid en lugar de display: flex */
    grid-template-rows: repeat(4, auto); /* Crea un grid de 4 filas automáticas */
    gap: 0vh; /* Establece el espacio entre las filas */
}

.conti {
   /* background-color: rgb(4, 0, 255);*/   
    align-items: center;
    align-content: center;
    margin-top: 5vh;
    height: 5vh;

}

.conti2{
    /*background-color: rgb(255, 0, 183);*/
    align-items: center;
    align-content: center;
    margin-top: 1vh;
    height: 5vh;

}
.conti3{
    /*background-color: rgb(255, 225, 0);*/
    align-items: center;
    align-content: center;
    height: 5vh;
}
.conti4{
  /* background-color: rgb(135, 0, 0);*/
    align-items: center;
    align-content: center;
    height: 5vh;    
}

.alinearrec{
width: 2vw;
height: 4.5vh;
border-radius: 2px;
margin-left: 1vw;
}

.alineatext{
height: 47vh;
padding-left: 1.5vw;
font-size: 1.4vw;
background: #1589EE;
}

.flujo2 .imgflujo2, .flujo2 .txtflujo2,
.flujo31 .imgflujo4, .flujo31 .txtflujo4 {
    filter: brightness(3); /* Ajusta el valor para aumentar el brillo según tu preferencia */
    /* También puedes agregar otras propiedades como sombra o animaciones para un efecto más llamativo si lo deseas */
}

/* Si quieres que el efecto sea más evidente al pasar el ratón sobre ellos, puedes añadir reglas de hover */
.flujo2:hover .imgflujo2, .flujo2:hover .txtflujo2,
.flujo31:hover .imgflujo4, .flujo31:hover .txtflujo4 {
    filter: brightness(4); /* Ajusta el valor para aumentar el brillo al pasar el ratón */
}

