/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 nov 2023, 00:53:31
    Author     : dieag
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins");
 

* {
    box-sizing: border-box;
}

body {
    font: 1em/150% "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 1vh;
    background-color: rgb(0, 43, 93);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    height: 12vh;
}

header .h21 {
    color: #ffffff;
    font: normal bold 2vw/1 "Poppins", sans-serif;
    margin-top: 1vh; /* Asegúrate de cerrar el estilo correctamente */
    margin-right: 69vw;
}

.h21 {
    color: #ffffff;
    font: normal bold 2vw/1 "Poppins", sans-serif;
}
.fontdiv {
    color: #000000;
    font: normal bold 2vw/1;
    font-family: 'Poppins', sans-serif;
    /*background-color: #ff0000;*/
    height: 8vh;
    display: flex;
    flex-direction: row; /* Orientación horizontal */
    align-items: center;
    margin-left: 2vw;
    margin-top: -1vh;
}

.fontdiv2 {
    background: #004081;
    color: #000000;
    font: normal bold 2vw/1;
    font-family: 'Poppins', sans-serif;
    width: 40vw;
    height: 20vh;
}



#salir{
    background: #ffffff;
    color: #000000;
}

  
.BotonCe {
    background: #004081;
    border: 1px solid #004081;
    border-radius: 13px;
    color: #ffffff;
    font: normal bold 1.2vw/1 "Poppins", sans-serif;
    text-align: center;
    margin-top: 2vh;
    margin-right: 1vw;
    float: left;
    height: 8vh;
    width: 10vw;
}
.imglogo {
    width: 4vw;
    height: 9vh;
    align-content: center;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
}

#alinearder {
    text-align: right;
    vertical-align: 50%;
}

.nav-container .btn-primary {
    border-radius: 10px; /* Hace el botón circular */
    width:8vw; /* Ajusta el ancho del botón según tu preferencia */
    height: 6vh; /* Ajusta la altura del botón según tu preferencia */
    font-size: 1.2vw; /* Ajusta el tamaño del texto */
    margin-left:62.5vw; /* Ajusta el margen izquierdo según tu preferencia */
}

.nav-container .btn-primary span {
    white-space: nowrap;
}
.bodyg, .bodyg1, .bodyg2, .bodyg3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin-top: 10vh;
    margin-bottom: 15vh;
    font: 1em/150% "Calibri", sans-serif;
}



.a {
   margin-top: 15vh;
   /*border: 2px solid #000000;*/   
    border-radius: 11px;
    width: 37vw;
    height: 62vh;
    margin-right: 5vw;
    margin-left: 5vw;
    /*background: #e1ff00;*/

}

.a1 {
    margin-top: 20vh;
    /*border: 2px solid #000000;*/   
     border-radius: 11px;
     width: 37vw;
     height: 50vh;
     margin-right: 5vw;
     margin-left: 5vw;
    /* background: #e1ff00;*/
 
 }

.grafica-container{
    height: 53vh;
    border-radius: 11px;
    margin-left: .4vw;
    /*background: #8d2121;*/
    margin-top: -1.5vh;
}

.grafica{
    margin-top: -1vh;
    width: 100%;
    height: 100%;
}

.titulo {
   background-color: rgb(0, 43, 93);
    text-align: center;
    font: normal bold 1.5vw/1 "Poppins", sans-serif;
    color: #FFFFFF;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    height: 7vh;
    display: flex; /* Utilizar display flex */
    align-items: center; /* Centrar verticalmente */
    justify-content: center;
}

#grafica-labels {
    list-style: none;
    padding: 0;
}

#grafica-labels li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

#grafica-labels .label {
    margin-right: 10px;
}



h1 {
color: black;
font-size: 28px;
font-family: 'Poppins' sans-serif;
font-weight: 600;
line-height: 27px;
word-wrap: break-word

}


.ttl{
    color: #000000;
    font-size: 1.5vw;
}   
h3 {
color: #FFFFFF;
font: normal bold 16px/1 "Poppins", sans-serif;
text-align: center;
}
h4 {
color: #000000;
font: normal 16px/1 "Poppins", sans-serif;
padding: 8px;
}

#borde {
color: #FEFEFE;
font-size: 1.3vw;
text-align: center;
background-color: #004081;
border-radius: 10px;
width: 92%;
padding: 5vh 4vw;
height: 12vh;
}


hr {
height: 3px;
background-color: #347499;
}
/*
.Botona, .Botonab{
text-align: center; 
color: #FEFEFE; 
font-size: 22px; 
font-family: 'Poppins' sans-serif;
font-weight: 400; 
word-wrap: break-word;
padding: 10px 30px; 
background: #347499; 
border-radius: 11px; 
justify-content: center;
align-items: center; 
gap: 8px; 
display: inline-flex;
}*/

.Botona {
    margin-top: 2vh;
}
.Botonab{
margin-left: 4vw;
}

.Botonab{
    text-align: center; 
    color: #FEFEFE; 
    font-size: 1.2vw; 
    font-family: 'Poppins' sans-serif;
    background: #004081; 
    border-radius: 30px; 
    justify-content: center;
    align-items: center; 
    margin-top: 3vh;
    display: inline-flex;
    width: 5vw;
    height: 6vh;
    }

.reporte{
/*background-color: #ff0000;*/
height: 9vh;
margin-left: 19vw;
margin-top: 40vh;
width: 60vw;
}

.labeln {
    width: 100%; 
    height: 100%;
    padding-bottom: 5px;
    padding-left: 24px;
    padding-right: 808px; 
    background: white; 
    box-shadow: 0px -3px 0px #1589EE inset; 
    justify-content: flex-start; 
    align-items: center; 
    display: inline-flex;
    gap: 24px;
}

.alincentro{
padding-left: 10%;
height: 8vh;
width: 95vw;
margin-left:1vw;
margin-top: 9vh;
/*background:#ff0000;*/
font-size: 1.3vw;
color: #000000;
}
.alincentro h4{
margin-left: -7vw;
}

a{
    text-decoration: none;
    color: inherit;
}
h2{
    font-size: 2.5vw;
}
.ttl{
    color: #000000;
    font: normal bold 3vw/1 "Poppins", sans-serif;
    padding-left: 4vw;
    padding-right: 2vw;
    /*background: #FF5733;*/

}
.ttl2{
    color: #000000;
    font: normal bold 3vw/1 "Poppins", sans-serif;
    padding-left: 4vw;
    padding-right: 2vw;
    /*background: #004081;*/
    margin-top: 15vh;
    margin-left: -44vw;

}

.nvl{
    margin-top: -4vh;
    margin-left: 3.5vw;
    font-size:1.3vw;
    color: #000000;
    /*background: #004081;*/
}
.opcn {
    border-radius: 10px;
   background-color: #ffffff;
    color: #000000;
    font-size: 1.5vw;
    font-weight: 700;
    padding: .8vh 2vw;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
  }
  .opcn:hover {
    letter-spacing: 3px;
  }
  
  .opcn:active {
    transform: scale(0.95);
  }

  #grf{
    background-color: rgb(0, 43, 93);
    border-radius: 10px;
     color: #ffffff;
     font-size: 1.5vw;
     font-weight: 700;
     padding: .8vh 2vw;
     letter-spacing: 1px;
     text-transform: capitalize;
     transition: 0.3s ease-in-out;
  }
  #grf:hover {
    letter-spacing: 3px;
  }
  
  #grf:active {
    transform: scale(0.95);
  }

  .opla{
    border-radius: 10px;
   background-color: #ffffff;
    color: #000000;
    font-size: 1.5vw;
    font-weight: 700;
    padding: .8vh 3vw;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
  }
  .opla:hover {
    letter-spacing: 3px;
  }
  
  .opla:active {
    transform: scale(0.95);
  }  

  .opcn2 {
    border-radius: 10px;
   background-color: #ffffff;
    color: #000000;
    font-size: 1.2vw;
    font-weight: 700;
    padding: .8vh 1vw;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
    margin-left: 70vw;
  }
  .opcn2:hover {
    letter-spacing: 3px;
  }
  
  .opcn2:active {
    transform: scale(0.95);
  }

  .opn2 {
    border-radius: 10px;
   background-color: #ffffff;
    color: #000000;
    font-size: 1.2vw;
    font-weight: 700;
    padding: .8vh 1vw;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
    margin-left: 55vw;
    height: 8vh;
    margin-top: 3vh;
    
  }
  .opn2:hover {
    letter-spacing: 3px;
  }
  
  .opn2:active {
    transform: scale(0.95);
  }

  .opcn3{
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    font-size: 1.5vw;
    font-weight: 700;
    padding: .8vh 2vw;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
    margin-bottom: 2vh;
  }
  .opcn3:hover {
    letter-spacing: 3px;
  }
  
  .opcn3:active {
    transform: scale(0.95);
  }

.layougr {
    width: 10vw;
    height: 55vh;
    /*background-color: #ffffff;*/  
    margin-left: 26.8vw;
    text-align: justify;
    margin-top: -53vh;
    border-bottom-right-radius: 11px;
    color: #000000;
    display: grid; /* Utiliza display: grid en lugar de display: flex */
    grid-template-rows: repeat(4, auto); /* Crea un grid de 4 filas automáticas */
    gap: 0vh; /* Establece el espacio entre las filas */
}

.conti {
   /*background-color: rgb(4, 0, 255);   */
    align-items: center;
    align-content: center;
    margin-top: 5vh;
    height: 5vh;

}

.conti2{
    /*background-color: rgb(255, 0, 183);*/
    align-items: center;
    align-content: center;
    margin-top: 1vh;
    height: 5vh;

}
.conti3{
    /*background-color: rgb(255, 225, 0);*/
    align-items: center;
    align-content: center;
    height: 5vh;
}
.conti4{
  /* background-color: rgb(135, 0, 0);*/
    align-items: center;
    align-content: center;
    height: 5vh;    
}

.alinearrec{
width: 2vw;
height: 4.5vh;
border-radius: 2px;
margin-left: 1vw;
}

.alineatext{
height: 47vh;
padding-left: 1.5vw;
font-size: 1.4vw;
background: #1589EE;
}

@media only screen and (max-width: 425px) and (orientation: portrait) {
    body {
      font-size: 1.2vw; /* Reducir el tamaño de la fuente para una mejor legibilidad */
    }
  
    header {
     background: #1F77C7;
      height: 10vh; /* Permitir que la altura del encabezado se ajuste automáticamente */
     width: 100%;
    }
  
    .imglogo {
      width: 20vw; /* Reducir el tamaño del logo */
      margin-bottom: 10px;
      height: 10vh;
      margin-top: 1vh;
    }
  
    .Boton {
      /*background-color: chartreuse;*/
      height: 6vh;
      width: 23vw;
      margin-right: 6vw;
      margin-top: 1vh;
    }
  
    .Botona {
      width: 23vw; /* Hacer que el botón ocupe el ancho completo disponible */
      height: 5.7vh; /* Permitir que la altura del botón se ajuste automáticamente */
      font-size: 3vw; /* Aumentar el tamaño de la fuente del botón */
      border-radius: 10px;
      margin-top: -.06vh;
    }
  
    nav {
        display: flex;
        flex-direction: row;
        /*background-color: #3787ff;*/
        height:15vh;
        margin-top: 2vh;
        align-content: center;
    }

    .nav-container {
        width: 100%;
        display: flex;
        height: 10vh;
        justify-content: flex-start;
        align-items: center;
    }

    .ttl2{
        display: none;
    }
    .opcn2 {
        border-radius: 10px;
       background-color: #ffffff;
        color: #000000;
        font-size: 1.2vw;
        font-weight: 700;
        padding: .8vh 1vw;
        letter-spacing: 1px;
        text-transform: capitalize;
        transition: 0.3s ease-in-out;
        margin-left: 50vw;
      }
      .opcn2:hover {
        letter-spacing: 3px;
      }
      
      .opcn2:active {
        transform: scale(0.95);
      }
      .alincentro{
        padding-left: 10%;
        height: 2vh;
        width: 95vw;
        margin-left:1vw;
        margin-top: -2vh;
        background:#ff0000;
        font-size: 1.3vw;
        color: #000000;
        }
    
    .bodyg {
        display: flex;
        flex-direction: column; /* Cambiar la dirección de flexión a column */
        justify-content: center;
        align-items: center;
        height: 90vh;
        margin-top: 10vh;
        margin-bottom: 15vh;
        font: 1em/150% "Calibri", sans-serif;
        background-color: brown;
    }
    
    .a {
        height: 60vh;
        margin-top: 10vh; /* Reducir el margen superior */
        border-radius: 11px;
        width: 90vw; /* Ajustar el ancho al 80% del viewport width */
        margin-right: auto; /* Centrar horizontalmente */
        margin-left: auto; /* Centrar horizontalmente */
        background: #5500ff;
    }

    .layougr{
        width: 15vw;
        height: 40vh;
        background-color: #ffffff;
        margin-left: 75vw;
        text-align: justify;
        margin-top: -35.5vh;
        border-bottom-right-radius: 11px;
        color: #000000;
        display: grid; /* Utiliza display: grid en lugar de display: flex */
        grid-template-rows: repeat(4, auto); /* Crea un grid de 4 filas automáticas */
        gap: 0vh; /* Establece el espacio entre las filas */
    }
    
    .alinearrec{
        width: 2vw;
        height: 2vh;
        border-radius: 2px;
        margin-left: 1vw;
        margin-top: -.8vh;
        }

        .alinearrec1{
            width: 2vw;
            height: 2vh;
            border-radius: 2px;
            margin-left: -11vw;
            margin-top: -.8vh;
            }
    
    
    .conti {
  
        align-items: center;
        align-content: center;
        margin-top: 4vh;
        height: 5vh;
        text-align: center;
    
    }
    
    .conti2{

        align-items: center;
        align-content: center;
        margin-top: -4vh;
        height: 5vh;
    
    }
    .conti3{

        align-items: center;
        align-content: center;
        margin-top: -4vh;
        height: 5vh;
    }
    .conti4{
    
        align-items: center;
        align-content: center;
        margin-top: -4vh;
        height: 5vh;    
    }

    .nvl{
        margin-top: -5vh;
        margin-left: 3.5vw;
        font-size:1.3vh;
        color: #000000;
        /*background: #004081;*/
    }

    .nvl1{
        margin-top: -5vh;
        margin-left: 1vw;
        font-size:1.3vh;
        color: #000000;
        /*background: #004081;*/
    }

    .grafica-container{
        height: 100%;
        border-radius: 11px;
        margin-left: .4vw;
         background: #8d2121;
        margin-top: -1.5vh;
        width: 70vw;
    }
    
    canvas{
        margin-top: -1vh;
        width: 5vw;
        height: 4vh;
    }

  }


