@import url("https://fonts.googleapis.com/css2?family=Poppins");
 
 
 * {
  box-sizing: border-box;
}

body {
  font: 1em/150% "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: #000;
  line-height: 1.6;
  position: relative;
  overflow-x: hidden;
}
div.lines{
    overflow: hidden;
    max-width: 100%;
}

header {
  padding: 1vh;
  background-color: #000000;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  width: 100%;
  
}

header .h21 {
  color: #ffffff;
  font: normal bold 2vw/1 "Poppins", sans-serif;
  margin-top: 5vh; /* Asegúrate de cerrar el estilo correctamente */
  margin-right: 69vw;
}

.h21 {
  color: #ffffff;
  font: normal bold 2vw/1 "Poppins", sans-serif;
}
h2{
  font-size: 1.9vw;
}

.Botona {
  background: #004081;
  border: 1px solid #004081;
  border-radius: 13px;
  color: #ffffff;
  font: normal bold 1.2vw/1 "Poppins", sans-serif;
  text-align: center;
  margin-top: 2vh;
  margin-right: 1vw;
  float: left;
  height: 8vh;
  width: 10vw;
  cursor: pointer; /* Agrega un cursor para indicar que es interactivo */
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.5s ease;
  animation: pulse 2s ease infinite; /* Ajusta la duración y el efecto de repetición según tus preferencias */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    background-color: #007BB5; /* Cambia el color de fondo al principio */
    color: #ffffff;
  }
  50% {
    transform: scale(1.1);
    background-color: #1F77C7;
    color: #ffffff;
  }
  100% {
    transform: scale(1);
    background-color: #007BB5;
    color: #ffffff;
  }
}

.Botona:focus {
  outline: none; /* Elimina el contorno predeterminado al hacer clic */
}

  .content {
    padding: 20px;
  }
  

  .nav-container {
    width: 100%;
    padding: 13px 24px;
    background: white;
    box-shadow: 0px -3px 0px #1589EE inset;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fontdiv {
    color: #000000;
    font: normal bold;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #0067c4;
    height: 8vh;
}

  .top-line {
    border-bottom: 2px solid #1589EE;
    margin-bottom: 15px; 
  }
  
  .main-rectangle {
   /*background-color: #1F232A;*/
    width: 98%;
    margin-left: 1vw;
    height: 75vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 3vh;
  }
  
  .rectangle-image {
    width: 50vh;
    height: auto;
    margin-left: 8vw;
    margin-top: -3vh;
  }
  
  .text-section {
    color: white;
    margin-left: 7vw;
    /*background-color: #1589EE;*/
    width: 50vw;
    height: 40vh;
    text-align: left;
  }
  
  .skill-tech-text {  
    font: normal bold 9vw/1 "Poppins", sans-serif;
    font-size: 9vw;
    /*background-color: blueviolet;*/
    margin-top: -1vh;

  }

  .skill-tech-text2 {
    margin-top: -13vh;
    font: normal bold 3vw/1 "Poppins", sans-serif;
    /*background-color: chartreuse;*/
  }
  
  .about-us-section1 {
    margin-left: 1vw;
    margin-top: 10vh;
    width: 65%;
    padding-left: 1vw;
    color: #ffffff;
  }
  .about-us-section1 .obj {
    line-height: 4.4vh; /* Puedes ajustar este valor según tus necesidades */
    color: #ffffff;
  }
    .h11{
      font: normal bold 4vw/1 "Poppins", sans-serif;
      color: #004081;
    }
  .obj{
    font: 1.5vw/1 "Poppins", sans-serif;
  }
  .conteimg1{
    float: right;
    margin-top: -50vh;
    width: 25vw;
    margin-right: 1vw;
    height: 50vh;
  }

  .conteimg2{
    float: left;
    margin-top: 15vh;
    width: 25vw;
    margin-left: 10vw;
    height: 50vh;
  }
  .imgre{
    height: 50vh;
    width: 25vw;
  }
  .imgre2{
    height: 35vh;
    width: 17vw;
  }
  .about-us-section {
    float: right;
    margin-top: 10vh;
    margin-right: 1vw;
    width: 60%;

  }
  .about-us-section .obj {
    line-height: 4.4vh; /* Puedes ajustar este valor según tus necesidades */
  }

  .about-us-section .h11,
.about-us-section .obj {
  text-align: right;
  color: #ffffff;
}
  
  hr {
    height: .8vh;
    background-color: #ffffff;
    width: 100%;
  }

  .about-us-section3 {
    float: left;
    margin-top: 10vh;
    margin-left: 20vw;
    width: 60%;
    text-align: center;
    color: #ffffff;
  }
  .about-us-section3 .obj {
    line-height: 4.4vh; /* Puedes ajustar este valor según tus necesidades */
  }
  .obj3{
    font: bold 1.5vw/1 "Poppins", sans-serif;
  
  }
/*CSS para agradecimiento.html*/
  .thank-you-message {
    text-align: center;
  }
  
  .small-text {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .medium-text {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  


  .return-button {
    display: inline-block;
    background-color: #347499;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
  }

  .imglogo{
    margin-top: 1vh;
    width: 10vw;
    height: 20vh;
    margin-left: 1vw;
    align-content: center;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
}

.imglogo {
  display: flex;
  align-items: center;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  z-index: -1; /* Ajusta el z-index para que las líneas estén por debajo de los demás elementos */
}

.lines .line {
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgb(0, 0, 0);
}

.lines .line:nth-child(1) {
  top: 10%;
}

.lines .line:nth-child(2) {
  top: 15%;
}

.lines .line:nth-child(3) {
  top: 20%;
}

.lines .line:nth-child(4) {
  top: 25%;
}

.lines .line:nth-child(5) {
  top: 30%;
}

.lines .line:nth-child(6) {
  top: 35%;
}

.lines .line:nth-child(7) {
  top: 40%;
}

.lines .line:nth-child(8) {
  top: 45%;
}

.lines .line:nth-child(9) {
  top: 50%;
}

.lines .line:nth-child(10) {
  top: 55%;
}

.lines .line:nth-child(11) {
  top: 60%;
}
.lines .line:nth-child(12) {
  top: 65%;
}

.lines .line:nth-child(13) {
  top: 70%;
}

.lines .line:nth-child(14) {
  top: 75%;
}

.lines .line:nth-child(15) {
  top: 80%;
}

.lines .line:nth-child(16) {
  top: 85%;
}

.lines .line:nth-child(17) {
  top: 90%;
}

.lines .line:nth-child(18) {
  top: 95%;
}

.lines .line:nth-child(19) {
  top: 100%;
}

.lines .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 15vw;
  top: 0;
  left: -50%;
  background: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), color-stop(75%, #ffffff), to(#ffffff));
  background: linear-gradient(to right, rgb(0, 0, 0) 0%, #ffffff 75%, #0077ff 100%);
  -webkit-animation: run 5s infinite;
  animation: run 5s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

@-webkit-keyframes run {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}

@keyframes run {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}

.lines .line:nth-child(1)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.lines .line:nth-child(3)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}


.lines .line:nth-child(4)::after {
  -webkit-animation-delay: 3s; /* Ajusta el retraso de animación para la cuarta línea */
          animation-delay: 3s;
}


.lines .line:nth-child(5)::after {
  -webkit-animation-delay: 3.5s; /* Ajusta el retraso de animación para la quinta línea */
          animation-delay: 3.5s;
}


.lines .line:nth-child(6)::after {
  -webkit-animation-delay: 4s; /* Ajusta el retraso de animación para la cuarta línea */
          animation-delay: 4s;
}

.lines .line:nth-child(7)::after {
  -webkit-animation-delay: 4.5s; /* Ajusta el retraso de animación para la quinta línea */
          animation-delay: 4.5s;
}

.lines .line:nth-child(8)::after {
  -webkit-animation-delay: 5s; /* Ajusta el retraso de animación para la cuarta línea */
          animation-delay: 5s;
}


.lines .line:nth-child(9)::after {
  -webkit-animation-delay: 5.5s; /* Ajusta el retraso de animación para la quinta línea */
          animation-delay: 5.5s;
}


.lines .line:nth-child(10)::after {
  -webkit-animation-delay: 3s; /* Ajusta el retraso de animación para la cuarta línea */
          animation-delay: 3s;
}


.lines .line:nth-child(11)::after {
  -webkit-animation-delay: 3.5s; /* Ajusta el retraso de animación para la quinta línea */
          animation-delay: 3.5s;
}

.lines .line:nth-child(12)::after {
  -webkit-animation-delay: 4s; /* Ajusta el retraso de animación para la cuarta línea */
          animation-delay: 4s;
}


.lines .line:nth-child(13)::after {
  -webkit-animation-delay: 4.5s; /* Ajusta el retraso de animación para la quinta línea */
          animation-delay: 4.5s;
}


.lines .line:nth-child(14)::after {
  -webkit-animation-delay: 5s; /* Ajusta el retraso de animación para la cuarta línea */
          animation-delay: 5s;
}


.lines .line:nth-child(15)::after {
  -webkit-animation-delay: 5.5s; /* Ajusta el retraso de animación para la quinta línea */
          animation-delay: 5.5s;
}

.lines .line:nth-child(16)::after {
  -webkit-animation-delay: 6s; /* Ajusta el retraso de animación para la quinta línea */
          animation-delay: 6s;
}
.lines .line:nth-child(17)::after {
  -webkit-animation-delay: 5s; /* Ajusta el retraso de animación para la quinta línea */
          animation-delay: 5s;
}
.lines .line:nth-child(18)::after {
  -webkit-animation-delay: 4s; /* Ajusta el retraso de animación para la quinta línea */
          animation-delay: 4s;
}
.lines .line:nth-child(19)::after {
  -webkit-animation-delay: 3.5s; /* Ajusta el retraso de animación para la quinta línea */
          animation-delay: 3.5  s;
}