*{
	box-sizing: border-box;
}

body {
	font: 1em/150% "Calibri", sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	background-color: #000000;
	flex-direction: column;
	overflow: hidden;
}

header{
	padding: 1vh;
	background-color: #000000;
	height: 13vh;
}

nav{
	display: flex;
	flex-direction: row;
	background-color: #0067c4;
}

nav a{
	color: #ffffff;
	padding: 2px 20px;
	text-decoration: none;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

aside{
	flex: 30px;
	padding: 20px;
	border: #347499 1px solid;
}

section{
	flex: 70%;
	padding: 20px;
	justify-content: center;
	text-align: center;
	display: flex;
}

footer{
	padding: 20px;
	text-align: center;
}

.inputf {
	text-align: justify; 
	color: #000000; 
	font-size: 15px; 
	font-family: 'Open Sans' sans-serif; 
	word-wrap: break-word;
	padding: 10px 15px; 
	background: #ffffff; 
	border-bottom: #000000 solid;
	border-top: #FFFFFF;
	border-left: #ffffff;
	border-right: #ffffff;
	justify-content: center;
	align-items: center;  
	display: inline-flex;
}

.inputfb{
	text-align: justify; 
	color: #ffffff; 
	font-size: 1.2vw; 
	font-family: 'Open Sans' sans-serif; 
	word-wrap: break-word;
	padding: 10px 15px; 
	background-color: #000000;
	border-bottom: #ffffff solid;
	border-top: #000000;
	border-left: #000000;
	border-right: #000000;
	justify-content: center;
	align-items: center;  
	display: inline-flex;
	width: 10vw;
	height: 7vh;
	font-size: 1.2vw;
}

.juan{
	position: relative;
	border-radius: 20px;
	border: 1px solid #004081;
	background-color: #0067ce;
	color: #fff;
	font-size: 1.5vw;
	font-weight: 700;
	margin: 10px;
	padding: 12px 80px;
	letter-spacing: 1px;
	text-transform: capitalize;
	transition: 0.3s ease-in-out;
  }
::-ms-reveal {
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 3px currentColor;
	background-color: #FFFFFF;
}



@media screen and (max-width: 700px){
	nav, .layoutwh .row{
		flex-direction: column;
	}
}





.Boton{
	background:    #073763;
	background:    linear-gradient(#0067c4, #073763 50%, #0067c4);
	border:        1px solid #134f5c;
	border-radius: 13px;
	padding:       15px 36px;
	color:         #ffffff;
	display:       inline-block;
	font:          normal bold 19px/1 "Open Sans", sans-serif;
	text-align:    center;
}

/* FORMULARIO DE PROGRAMACIÓN ORIENTADA A OBJETOS*/
h1 {
  
 color: black;
 font-size: 28px;
 font-family: 'Open Sans' sans-serif;
 font-weight: 600;
 line-height: 27px;
 word-wrap: break-word
}

.fontdiv {
	color: #000000;
	font: normal bold 18px/1;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	color: #ffffff;
	font: normal bold 16px/1 "Open Sans", sans-serif;
	padding: 8px;
	font-size: 2vw;
}
.h22 {
    color: #ffffff;
    font: normal bold 3vw/1 "Open Sans", sans-serif;
    padding: 8px;
}
.h21 {
	   color: #ffffff;
	   font: normal bold 2vw/1 "Open Sans", sans-serif;
	   margin-left: 4vw;
	   margin-top: -12vh;
   }	
h3 {
	color: #FFFFFF;
	font: normal bold 16px/1 "Open Sans", sans-serif;
	padding: 8px;
	text-indent: 22%;
}


p {
	color: #000000;
	font-size: 15px;
	font-family: 'Open Sans' sans-serif;
	font-weight: 400;
	line-height: 27px;
	word-wrap: break-word;
	padding: 25px;

}

#borde {
	background-color: #A7B4C8;
	border-radius: 10px;
}

label {
	padding: 4px 15px;
	justify-content: flex-start; align-items: center; display: inline-flex;
	border: #C9C9C9 1px solid;
	gap: 10px;
	word-wrap: break-word;
	width: 100%;
}

hr {
	height: 3px;
	background-color: #347499;
}

.Botona{
	text-align: center; 
	color: #FEFEFE; 
	font-size: 22px; 
	font-family: 'Open Sans' sans-serif;
	font-weight: 400; 
	word-wrap: break-word;
	padding: 10px 30px; 
	background: #347499; 
	border-radius: 11px; 
	justify-content: center;
	align-items: center; 
	gap: 8px; 
	display: inline-flex;
	position: relative;
}
.Botona:before{
	background: rgba(255, 255, 255, 0.1);
	transition: all 1s ease;
	content:"";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 0px;
}
.Botona:hover:before {
	height: 100%;
	}

.imglogo {
	width: 25px;
	height: 25px;
	align-content: center;
	text-align: center;
	justify-content: flex-start; 
	align-items: center; 
	display: inline-flex;
}
.imgemail{
	width: 4vw;
	height: 10vh;
	margin-top: 5vh;

}

.layoutbl {
    width: 50vw;
    height: 80vh;
    flex-shrink: 0;
    border-radius: 10px;
    /*background-color: #000000;*/
    font-family: 'Open Sans' sans-serif;
    align-self: center;
    color: #ffffff;
    justify-content: center;
    text-align: justify;
    flex-direction: row;
    display: flex; /* Asegura que el contenedor tenga un modelo de caja flexible */
}

.layoutlogin {
    text-align: center;
    width: 32vw;
    height: 70vh;
    margin-left: auto; /* Centra el div horizontalmente */
    margin-right: auto; /* Centra el div horizontalmente */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
}

.formsa {
	padding: 0px 120px;
}
.alinearegis{
	text-indent: 8%;
}

.txbn{
	color: #000000;
}

#alinearizq{
	text-align: justify;
}


.lines {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	z-index: -1; 
  }
  .lines .line {
	position: absolute;
	width: 100%;
	height: 1px;
	background: rgb(0, 0, 0);
  }
  
  .lines .line:nth-child(1) {
	top: 10%;
  }
  
  .lines .line:nth-child(2) {
	top: 15%;
  }
  
  .lines .line:nth-child(3) {
	top: 20%;
  }
  
  .lines .line:nth-child(4) {
	top: 25%;
  }
  
  .lines .line:nth-child(5) {
	top: 30%;
  }
  
  .lines .line:nth-child(6) {
	top: 35%;
  }
  
  .lines .line:nth-child(7) {
	top: 40%;
  }
  
  .lines .line:nth-child(8) {
	top: 45%;
  }
  
  .lines .line:nth-child(9) {
	top: 50%;
  }
  
  .lines .line:nth-child(10) {
	top: 55%;
  }
  
  .lines .line:nth-child(11) {
	top: 60%;
  }
  .lines .line:nth-child(12) {
	top: 65%;
  }
  
  .lines .line:nth-child(13) {
	top: 70%;
  }
  
  .lines .line:nth-child(14) {
	top: 75%;
  }
  
  .lines .line:nth-child(15) {
	top: 80%;
  }
  
  .lines .line:nth-child(16) {
	top: 85%;
  }
  
  .lines .line:nth-child(17) {
	top: 90%;
  }
  
  .lines .line:nth-child(18) {
	top: 95%;
  }
  
  .lines .line:nth-child(19) {
	top: 100%;
  }
  
  .lines .line::after {
	content: "";
	display: block;
	position: absolute;
	height: 100%;
	width: 15vw;
	top: 0;
	left: -50%;
	background: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), color-stop(75%, #ffffff), to(#ffffff));
	background: linear-gradient(to right, rgb(0, 0, 0) 0%, #ffffff 75%, #0077ff 100%);
	-webkit-animation: run 5s infinite;
	animation: run 5s infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
	animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  
  @-webkit-keyframes run {
	0% {
	left: -50%;
	}
	100% {
	left: 110%;
	}
  }
  
  @keyframes run {
	0% {
	left: -50%;
	}
	100% {
	left: 110%;
	}
  }
  
  .lines .line:nth-child(1)::after {
	-webkit-animation-delay: 2.5s;
		animation-delay: 2.5s;
  }
  
  .lines .line:nth-child(3)::after {
	-webkit-animation-delay: 2s;
		animation-delay: 2s;
  }
  
  
  .lines .line:nth-child(4)::after {
	-webkit-animation-delay: 3s; 
		animation-delay: 3s;
  }
  
  
  .lines .line:nth-child(5)::after {
	-webkit-animation-delay: 3.5s; 
		animation-delay: 3.5s;
  }
  
  
  .lines .line:nth-child(6)::after {
	-webkit-animation-delay: 4s; 
		animation-delay: 4s;
  }
  
  .lines .line:nth-child(7)::after {
	-webkit-animation-delay: 4.5s; 
		animation-delay: 4.5s;
  }
  
  .lines .line:nth-child(8)::after {
	-webkit-animation-delay: 5s; 
		animation-delay: 5s;
  }
  
  
  .lines .line:nth-child(9)::after {
	-webkit-animation-delay: 5.5s; 
		animation-delay: 5.5s;
  }
  
  
  .lines .line:nth-child(10)::after {
	-webkit-animation-delay: 3s; 
		animation-delay: 3s;
  }
  
  
  .lines .line:nth-child(11)::after {
	-webkit-animation-delay: 3.5s; 
		animation-delay: 3.5s;
  }
  
  .lines .line:nth-child(12)::after {
	-webkit-animation-delay: 4s; 
		animation-delay: 4s;
  }
  
  
  .lines .line:nth-child(13)::after {
	-webkit-animation-delay: 4.5s; 
		animation-delay: 4.5s;
  }
  
  
  .lines .line:nth-child(14)::after {
	-webkit-animation-delay: 5s; 
		animation-delay: 5s;
  }
  
  
  .lines .line:nth-child(15)::after {
	-webkit-animation-delay: 5.5s; 
		animation-delay: 5.5s;
  }
  
  .lines .line:nth-child(16)::after {
	-webkit-animation-delay: 6s; 
		animation-delay: 6s;
  }
  .lines .line:nth-child(17)::after {
	-webkit-animation-delay: 5s; 
		animation-delay: 5s;
  }
  .lines .line:nth-child(18)::after {
	-webkit-animation-delay: 4s; 
		animation-delay: 4s;
  }
  .lines .line:nth-child(19)::after {
	-webkit-animation-delay: 3.5s; 
		animation-delay: 3.5  s;
  }